<div class="page ">
    <app-home></app-home>
    <app-about></app-about>
    <app-courses></app-courses>
    <app-contact></app-contact>
    <app-footer></app-footer>


</div>

<div class="tests hidden">
    <div class="navbar custom-navbar navbar-fixed-top" role="navigation">
        <div class="container">
            <div class=" navbar-header ">
                <button class="navbar-toggle " data-toggle="collapse " data-target=".navbar-collapse ">
               <span class="icon icon-bar "></span>
               <span class="icon icon-bar "></span>
               <span class="icon icon-bar "></span>
          </button>
                <!-- lOGO -->
                <a href="index.html " class="navbar-brand "> Student ROOM</a>
            </div>
            <!-- MENU LINKS -->
            <div class="collapse navbar-collapse ">
                <ul class="nav navbar-nav navbar-right ">
                    <li><a routerLink='home' href="#home " class="smoothScroll ">Home</a></li>
                    <li><a routerLink='about' href="#about " class="smoothScroll ">About us</a></li>
                    <li><a routerLink='Ourcourse' href="#team " class="smoothScroll ">Our courses</a></li>
                    <li><a routerLink='contact' href="#contact " class="smoothScroll ">Contact Us </a></li>
                    <li><a href="# " routerLink='test'>DONE</a></li>
                </ul>

            </div>

        </div>
        <div class="test">
            <app-test></app-test>

        </div>
    </div>