<!-- FOOTER -->
<footer>
    <div class="container">
        <div class="row">

            <div class="col-md-5 col-sm-6">
                <h2>Student room</h2>



            </div>

            <div class="col-md-4 col-sm-6">
                <div class="footer-info">
                    <h2>Keep in touch</h2>
                    <p><a href="tel:010-090-0780">06 12126500</a></p>
                    <p><a href="mailto:info@company.com">ofentsekhampe@gmail.com</a></p>

                </div>
            </div>

            <div class="col-md-3 col-sm-12">

                <h2>About Us</h2>
                <p>Make life better and easire</p>
                <ul class="social-icon">
                    <li>
                        <a href="#" class="fa fa-twitter"></a>
                    </li>
                    <li>
                        <a href="#" class="fa fa-facebook"></a>
                    </li>
                    <li>
                        <a href="#" class="fa fa-instagram"></a>
                    </li>
                    <li>
                        <a href="#" class="fa fa-linkedin"></a>
                    </li>
                </ul>

            </div>

            <div class="clearfix"></div>

            <div class="col-md-12 col-sm-12">
                <div class="copyright-text">
                    <p>Copyright © 2021 Student Room | </p>
                </div>
            </div>

        </div>
    </div>
</footer>