<!-- ABOUT -->
<section id="about" class="parallax-section">
    <div class="container">
        <div class="row">

            <div class="col-md-offset-1 col-md-10 col-sm-12">
                <div class="about-info">
                    <h3>About Us</h3>
                    <h4>Online platform to write test and gain more skills in prograaming and different langueagse educational platform, which like edX, aims at delivering college-level education and quality training globally. It offers online degrees, specialized
                        courses, and one-off activities, delivered by renowned partner universities from all over the world
                    </h4>
                </div>
            </div>

        </div>
    </div>
</section>