<!-- TEAM -->
<section id="team" class="parallax-section">
    <div class="container">
        <div class="row">

            <div class="col-md-offset-2 col-md-8 col-sm-12">
                <!-- SECTION TITLE -->
                <div class="section-title">
                    <h1>Courses we offer</h1>
                </div>
            </div>

            <div class="clearfix"></div>

            <div id="owl-teeam" class="owl-carusel" style="display: flex;">
                <div class="col-md-4 col-sm-4 item">
                    <div class="team-item">
                        <img src="assets/images/node.png" class="img-responsive" alt="">
                        <div class="team-overlay">
                            <ul class="social-icon">
                                <li>
                                    <a href="#" class="fa fa-twitter"></a>
                                </li>
                                <li>
                                    <a href="#" class="fa fa-linkedin"></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <p></p>
                    <h3>Node js</h3>
                </div>

                <div class="col-md-4 col-sm-4 item">
                    <div class="team-item">
                        <img src="assets/images/angular.png" class="img-responsive" alt="">
                        <div class="team-overlay">
                            <ul class="social-icon">
                                <li>
                                    <a href="#" class="fa fa-instagram"></a>
                                </li>
                                <li>
                                    <a href="#" class="fa fa-github"></a>
                                </li>
                                <li>
                                    <a href="#" class="fa fa-facebook"></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <p></p><br><br>
                    <h3>Angular</h3>
                </div>

                <div class="col-md-4 col-sm-4 item">
                    <div class="team-item">
                        <img src="assets/images/ts.png" class="img-responsive" alt="">
                        <div class="team-overlay">
                            <ul class="social-icon">
                                <li>
                                    <a href="#" class="fa fa-instagram"></a>
                                </li>
                                <li>
                                    <a href="#" class="fa fa-dribbble"></a>
                                </li>
                                <li>
                                    <a href="#" class="fa fa-behance"></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <p></p><br><br>
                    <h3>Typescript</h3>
                </div>

                <div class="col-md-4 col-sm-4 item">
                    <div class="team-item">
                        <img src="assets/images/js.jpeg" class="img-responsive" alt="">
                        <div class="team-overlay">
                            <ul class="social-icon">
                                <li>
                                    <a href="#" class="fa fa-twitter"></a>
                                </li>
                                <li>
                                    <a href="#" class="fa fa-facebook"></a>
                                </li>
                                <li>
                                    <a href="#" class="fa fa-envelope-o"></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <p></p><br>
                    <h3>Javascript</h3>
                </div>

                <div class="col-md-4 col-sm-4 item">
                    <div class="team-item">
                        <img src="assets/images/git.jpeg" class="img-responsive" alt="">
                        <div class="team-overlay">
                            <ul class="social-icon">
                                <li>
                                    <a href="#" class="fa fa-twitter"></a>
                                </li>
                                <li>
                                    <a href="#" class="fa fa-linkedin"></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <p></p><br><br>
                    <h3>Github</h3>
                </div>
            </div>

        </div>
    </div>
</section>